<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="feedback-section">

    <form method="POST" class="feedback-form">
        <h2>Admin Login</h2>

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

</div>

</body>
</html>
